<div class="example-container mat-elevation-z8">
    <div id="div1">
        <button class="projectButtons" type="button" (click)="onEdit()" mat-raised-button color="accent">Edit</button>
        <button class="projectButtons" type="button" (click)="onRemove()" mat-raised-button color="warn">Remove</button>
    </div>
    <table mat-table #table [dataSource]="bonuses">


	    <ng-container matColumnDef="fullName">
	      <th mat-header-cell *matHeaderCellDef> Full Name </th>
	      <td class="tdPointer" mat-cell *matCellDef="let element"> {{element.user.first_name}} {{element.user.last_name}} </td>
	      <td mat-footer-cell *matFooterCellDef> </td>
	    </ng-container>

	    <ng-container matColumnDef="value">
	      <th mat-header-cell *matHeaderCellDef> Value </th>
	      <td class="tdPointer" mat-cell *matCellDef="let element"> {{element.value}} </td>
	      <td mat-footer-cell *matFooterCellDef> {{ totalBonuses }} </td>
	    </ng-container>

	    <ng-container matColumnDef="date">
	      <th mat-header-cell *matHeaderCellDef> Date Valid </th>
	      <td class="tdPointer" mat-cell *matCellDef="let element"> {{element.date}} </td>
	      <td mat-footer-cell *matFooterCellDef> </td>
	    </ng-container>

	    <ng-container matColumnDef="date_created">
	      <th mat-header-cell *matHeaderCellDef> Date Created </th>
	      <td class="tdPointer" mat-cell *matCellDef="let element"> {{element.date_created}} </td>
	      <td mat-footer-cell *matFooterCellDef> </td>
	    </ng-container>

	    <ng-container matColumnDef="date_updated">
	      <th mat-header-cell *matHeaderCellDef> Date Updated </th>
	      <td class="tdPointer" mat-cell *matCellDef="let element"> {{element.date_updated}} </td>
	      <td mat-footer-cell *matFooterCellDef> </td>
	    </ng-container>

	    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	    <tr mat-row *matRowDef="let row; columns: displayedColumns;" id="{{row.id}}" (click)="stashInfo(row.id)"></tr>
  		<tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

    </table>
</div>