<div class="example-container mat-elevation-z8">
    <div id="div1">
    	<button id="filterButton" type="button" mat-raised-button color="accent" (click)="toggleClick()"><mat-icon class="s-36">tune</mat-icon></button>
        <form *ngIf="clicked" name="form" [formGroup]="form" novalidate>

	       	<mat-form-field id="filterBy">
			  <mat-select placeholder="Filter by" formControlName="dates">
			    <mat-option *ngFor="let date of dates" [value]="date.value" >
			      {{ date.viewValue }}
			    </mat-option>
			  </mat-select>
			</mat-form-field>

            <mat-form-field class="div1Form">
				<input matInput [matDatepicker]="startDate" placeholder="Start date" formControlName="startDate">
				<mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
				<mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="div1Form">
				<input matInput [matDatepicker]="endDate" placeholder="End date" formControlName="endDate">
				<mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
				<mat-datepicker #endDate></mat-datepicker>
            </mat-form-field>

            <button id="apply" mat-raised-button type="button" color="accent" (click)="onFinish()"
            	[disabled]="!form.valid">
                Apply
            </button>
            
            <button id="clear" mat-raised-button type="button" color="primary" (click)="onReset()">Clear</button>

		</form>

        <button class="projectButtons" type="button" (click)="onEdit()" mat-raised-button color="accent">Edit</button>

        <button class="projectButtons" type="button" (click)="onRemove()" mat-raised-button color="warn">Remove</button>

    </div>
    <table mat-table #table [dataSource]="bonuses">


	    <ng-container matColumnDef="fullName">
	      <th mat-header-cell *matHeaderCellDef> Full Name </th>
	      <td class="tdPointer" mat-cell *matCellDef="let element"> {{element.user.first_name}} {{element.user.last_name}} </td>
	      <td mat-footer-cell *matFooterCellDef> </td>
	    </ng-container>

	    <ng-container matColumnDef="value">
	      <th mat-header-cell *matHeaderCellDef> Value </th>
	      <td class="tdPointer" mat-cell *matCellDef="let element"> {{element.value}} </td>
	      <td mat-footer-cell *matFooterCellDef> {{ totalBonuses }} </td>
	    </ng-container>

	    <ng-container matColumnDef="date">
	      <th mat-header-cell *matHeaderCellDef> Date Valid </th>
	      <td class="tdPointer" mat-cell *matCellDef="let element"> {{element.date}} </td>
	      <td mat-footer-cell *matFooterCellDef> </td>
	    </ng-container>

	    <ng-container matColumnDef="date_created">
	      <th mat-header-cell *matHeaderCellDef> Date Created </th>
	      <td class="tdPointer" mat-cell *matCellDef="let element"> {{element.date_created}} </td>
	      <td mat-footer-cell *matFooterCellDef> </td>
	    </ng-container>

	    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	    <tr mat-row *matRowDef="let row; columns: displayedColumns;" id="{{row.id}}" (click)="stashInfo(row.id)"></tr>
  		<tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

    </table>
</div>