<div class="example-container mat-elevation-z8">
    <div id="div1">
    	<button id="filterButton" type="button" mat-raised-button color="accent" (click)="toggleClick()">Filters</button>
        <form *ngIf="clicked" name="form" [formGroup]="form" novalidate>

            <mat-form-field class="div1Form">
				<input matInput [matDatepicker]="startDate" placeholder="Start date" formControlName="startDate">
				<mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
				<mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="div1Form">
				<input matInput [matDatepicker]="endDate" placeholder="End date" formControlName="endDate">
				<mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
				<mat-datepicker #endDate></mat-datepicker>
            </mat-form-field>

            <button id="apply" mat-raised-button type="button" color="accent" (click)="onFinish()"
            	[disabled]="!form.valid">
                Apply
            </button>
            
            <button id="clear" mat-raised-button type="button" color="primary" (click)="onReset()">Clear</button>

		</form>

        <button class="projectButtons" type="button" (click)="onEdit()" mat-raised-button color="accent">Edit</button>
        <button class="projectButtons" type="button" (click)="onRemove()" mat-raised-button color="warn">Remove</button>
    </div>
    <table mat-table #table [dataSource]="salaries">

	    <ng-container matColumnDef="first_name">
	      <th mat-header-cell *matHeaderCellDef> First Name </th>
	      <td class="tdPointer" mat-cell *matCellDef="let element"> {{element.user.first_name}} </td>
	      <td mat-footer-cell *matFooterCellDef> </td>
	    </ng-container>

	    <ng-container matColumnDef="last_name">
	      <th mat-header-cell *matHeaderCellDef> Last Name </th>
	      <td class="tdPointer" mat-cell *matCellDef="let element"> {{element.user.last_name}} </td>
	      <td mat-footer-cell *matFooterCellDef> </td>
	    </ng-container>

	    <ng-container matColumnDef="bruto">
	      <th mat-header-cell *matHeaderCellDef> Bruto </th>
	      <td class="tdPointer" mat-cell *matCellDef="let element"> {{element.bruto}} </td>
          <td mat-footer-cell *matFooterCellDef> {{ brutoTotal}} </td>
	    </ng-container>

	    <ng-container matColumnDef="neto">
	      <th mat-header-cell *matHeaderCellDef> Neto </th>
	      <td class="tdPointer" mat-cell *matCellDef="let element"> {{element.neto}} </td>
    	  <td mat-footer-cell *matFooterCellDef> {{ netoTotal}} </td>
	    </ng-container>

	    <ng-container matColumnDef="date_valid">
	      <th mat-header-cell *matHeaderCellDef> Date valid </th>
	      <td class="tdPointer" mat-cell *matCellDef="let element"> {{element.date_valid}} </td>
	      <td mat-footer-cell *matFooterCellDef> </td>
	    </ng-container>


	    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	    <tr mat-row *matRowDef="let row; columns: displayedColumns;" id="{{row.id}}" (click)="stashInfo(row.id)"></tr>
  		<tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

    </table>
</div>