.example-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 80em;
}
td {
  cursor: pointer;

}
td.active {
    background-color: #009DFA;
}
form {
	height: 20px;
    width: 70px;
}