.example-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 80em;
}
td {
  cursor: pointer;

}
td.active {
    background-color: #009DFA;
}
form {
	height: 20px;
    width: 70px;
}

.mat-header-cell{
    text-align: center; 
    vertical-align: middle;
    width: 20%;
}
td{
    text-align: center; 
    vertical-align: middle;
}