<div class="example-container mat-elevation-z8">
    <div id="div1">
    	<button id="filterButton" type="button" mat-raised-button color="accent" (click)="toggleClick()">Filters</button>
        <form *ngIf="clicked" id="form1" name="form1" [formGroup]="form1" novalidate>

	       	<mat-form-field id="filterBy">
			  <mat-select placeholder="Filter by" formControlName="dates">
			    <mat-option *ngFor="let date of dates" [value]="date.value" >
			      {{ date.viewValue }}
			    </mat-option>
			  </mat-select>
			</mat-form-field>

            <mat-form-field class="div1Form">
				<input matInput [matDatepicker]="startDate" placeholder="Start date" formControlName="startDate">
				<mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
				<mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="div1Form">
				<input matInput [matDatepicker]="endDate" placeholder="End date" formControlName="endDate">
				<mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
				<mat-datepicker #endDate></mat-datepicker>
            </mat-form-field>

            <button id="apply" mat-raised-button type="button" color="accent" (click)="onFinish()"
            	[disabled]="!form1.valid">
                Apply
            </button>
            
            <button id="clear" mat-raised-button type="button" color="primary" (click)="onReset()">Clear</button>

		</form>
    </div>
	<table mat-table #table [dataSource]="presences">

	    <ng-container matColumnDef="start">
	      <th mat-header-cell *matHeaderCellDef> Start </th>
	      <td mat-cell *matCellDef="let element;"(click)="stashInfo(element.id+'start', 'start', element.id)" id="{{element.id}}start"> {{element.start}} </td>
	    </ng-container>

	    <ng-container matColumnDef="end">
	      <th mat-header-cell *matHeaderCellDef> End </th>
	      <td mat-cell *matCellDef="let element;" (click)="stashInfo(element.id+'end', 'end', element.id)" id="{{element.id}}end"> {{element.end}} </td>
	    </ng-container>

	    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	    <tr mat-row *matRowDef="let row;  columns: displayedColumns;" ></tr>
	    
    </table>
</div>
